@font-face {
  font-family:Lettres ;
    src: url('../fonts/Lettres.otf');
  src: local("Lettres"), url('../fonts/Lettres.ttf');
}

@font-face {
  font-family:pixtech ;
    src: url('../fonts/pixtech.ttf');
  src: local("pixtech"), url('../fonts/pixtech2.ttf');
}

@font-face {
  font-family:Technology ;
    src: url('../fonts/Technology.ttf');
  src: local("Technology"), url('../fonts/Technology Bold.ttf');
}



#title
   {  font-family:'Lettres',pixtech,Arial;
      position: absolute;
   	font-size: 40px;
   	color:grey;
    top: 50px;
    right: 15%;
    left: 15%;
    z-index: 2;
   }

body {
  background-color: black;
}


#human
   { 
      position: absolute;
    with:100px;
    hight:200px;	
    top:250px;
    right: 50%;
    z-index: 3;
   }

#aura
   { 
      position: absolute;
    with:100px;
    hight:200px;	
    top:200px;
    right: 45%;
    z-index: 2;
   }